.first-value{

    text-align: center;

    h1{
        color:#03043a;
        font-size: 3em;
    }
}

.absolute-value{
    text-align:center;

    h2{
        color:#03043a;
        
    }

}


.icon{
    font-size: 20px;
    margin-bottom: 13px;
}